<!-- 设置淘宝源1 -->
registry "https://registry.npmmirror.com/"
<!-- 设置淘宝源2：旧淘宝源 -->
<!-- registry "https://registry.npm.taobao.org/" -->
<!-- electron -->
electron_mirror "https://npmmirror.com/mirrors/electron/"
